/* YUI overrides */
.yui-g .yui-gf {
 /* float:left; */
}

/* backgrounds */
#ft {background:#f6f6f6;}

/* layout */
#doc-custom, #hd, #bd, #ft {
width:100%;
}
#bd, #left {
margin-top:5px;
}

.section {
width:960px;
clear:both;
margin:0 auto;
}

/* top */
#hd {
background:url('../img/bg-hd.png') repeat-x top left;
}
#top {
background:url('../img/logo.png') no-repeat top left;
height:85px;
}

#site-info {
margin-left:14.8461em;
}
#site-name {
font:bold 2.6em sans-serif;
}
#site-slogan {
font:bold 1.8em sans-serif;
}
/* navigation */
#nav {
font:1.15em sans-serif;
}
#nav .subnav-header {
font: bold 1em sans-serif;
cursor:pointer;
}
/* content top */
#search-info {
text-align:right;
padding:5px 0;
}
/* pager */
#pagination {
text-align:center;
padding:10px 0;
}
#pagination .pager-info {
margin:0 10px;
}
#pagination a {
cursor:pointer;
}
/* footer */
#bottom {
text-align:center;
padding:10px 0;
}

/* items */
#items .item {
float:left;
width:50%;
margin:0 0 0.5em 0;
}
#items .item .left {
float:left;
width:30%;
}
#items .item .right {
float:left;
width:70%;
}
#items h4 {
font:.9em/1.2em sans-serif;
width:95%;
margin:.2em 0;
padding:0;
}
#items .image .small {
width:70px;
height:70px;
}
#items li.item {
height:80px;
overflow:hidden;
}
/* elements */
h1, h2 {
font:bold 1.2em sans-serif;
margin:5px 0 15px;
}