body {
font-family:Helvetica, sans-serif;
}
/* backgrounds */
#ft {background:#f6f6f6;}

/* layout */
#doc-custom, #hd, #bd, #ft {
width:100%;
}
#bd, #left {
margin-top:5px;
}

.section {
width:960px;
clear:both;
margin:0 auto;
}

/* top */
#hd {
background:url('../img/bg-hd.png') repeat-x top left;
}
#top {
background:url('../img/logo.png') no-repeat top left;
height:85px;
}

#site-info {
padding-left:14.8461em;
width:50%
}
#site-name {
font-weight:bold;
font-size:2.6em;

}
#site-slogan {
font-weight:bold;
font-size:1.8em;
}
/* navigation */
#nav {
font-size:1.15em;
}
#nav .subnav-header {
font-weight:bold;
font-size:1em;
cursor:pointer;
background: #eef4d3 url('../img/left.png') no-repeat center right;
padding: .5em 1em;
margin:.1em;
}
#nav .subnav-header.active {
background-image: url('../img/down.png');
}

#nav .subnav {
color:#069;
background-color:#fefefe;
padding-left:1em;
font-weight:bold;
}

#nav .subnav a {
text-decoration:none;
}

/* content top */
#search-info {
text-align:right;
padding:5px 0;
}
/* pager */
#pagination {
text-align:center;
padding:10px 0;
}
#pagination .pager-info {
margin:0 10px;
}
#pagination a {
cursor:pointer;
}
/* footer */
#bottom {
text-align:center;
padding:10px 0;
}

/* items */
#items .item {
float:left;
width:48%;
padding:.2em;
margin:0 .2em 0.5em 0;
}
#items .item .info {
font:.9em;
width:95%;
margin:.2em 0;
padding:0;
height:1.2em;
overflow:hidden;
}
#items .item .left {
float:left;
width:30%;
}
#items .item .right {
float:left;
width:70%;
}
#items h4 {
font-size:.9em;
line-height:1.2em;
width:95%;
margin:.2em 0;
padding:0;
height:3.6em;
overflow:hidden;
}
#items .image .small {
width:70px;
height:70px;
font-size:0;
}
#items li.item {
height:85px;
overflow:hidden;
border:0.1em solid #efefef;
}
/* elements */
h1, h2 {
font-weight:bold;
font-size:1.2em;
margin:5px 0 15px;
}
#top {
position:relative;
}
/* search box */
#search-box {
position:absolute;
right:0;
top:0;
}
/* tags cloud */
.tags li {
float:left;
margin-right:1em;
line-height:1em;
}
.tags li a {
text-decoration:none;
}
/* tab menu */
li.tab-header {
float:left;
margin-right:3em;
cursor:pointer;
}
div.tab-content {
clear:both;
}